@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #f4f4f4;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000000fe;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url('../IMG/me2.png');
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: cover; */
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .logo {
    width: 140px;
}

nav ul li {
    text-transform: capitalize;
    display: inline-block;
    margin: 10px 18px;
}

nav ul li a {
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 4px;
    background: #004e96bd;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

nav ul li a:hover {
    color: #ccc;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a .fa {
    margin: 2px 2px;
    color: #0000ffcb;
}

.header-text {
    margin-top: 15%;
    font-size: 30px;
    padding-left: 20%;
}

.header-text p {
    font-size: 2.5rem;
    font-weight: 400;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.header-text h1 span {
    color: #0000ffcb;
    font-weight: 600;
    text-transform: uppercase;
}


/*---------------------about me----------------*/

#about {
    padding: 80px 0px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 50%;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #eee;
}

.tab-titles {
    display: flex;
    margin: 20px 0px 40px;
    text-transform: capitalize;
}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #004e96bd;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #0000ff72;
    font-size: 17px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    text-transform: capitalize;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 12px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    color: #ccc;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #004e96bd;
    transform: translateY(-10px);
    /* box-shadow: 0px 10px 15px -3px #b9b9b937; */
}

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    /* height: 100%; */
}

.work img {
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform .5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, .6), #004e96bd);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    font-size: 15px;
    transition: height .5s;
}

.layer h3 {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    font-size: 19px;
    line-height: 60px;
    background: #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.layer a i {
    color: #0000ff;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #004e96bd;
    padding: 15px 50px;
    border-radius: 6px;
    color: #ccc;
    transition: background .5s;
    text-transform: capitalize;
}

.btn:hover {
    background: #004e96bd;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #0000ff;
    margin-right: 25px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    font-size: 30px;
    margin-right: 15px;
    color: #004e96bd;
    display: inline-block;
    transition: transform .5s;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons a:hover i {
    color: #0000ff;
}

.btn.btn2 {
    display: inline-block;
    background: #0000ff;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ccc;
    border-radius: 8px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #0000ff;
}


/* smmall devices */

nav .fas {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url('../IMG/me2.png');
    }
    nav .logo {
        width: 80px;
    }
    .header-text {
        margin-top: 45%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 25px;
    }
    nav .fas {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #0000ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right .5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul li a .fa {
        margin: 2px 2px;
        color: #f0f0f0cb;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title {
        font-size: 40px;
    }
    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
    .copyright {
        font-size: 14px;
    }
}

#msg {
    color: #0000ff;
    margin-top: -20px;
    display: block;
}